@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Sinhala:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 5px;
    background: #080808;
    position: relative;
}

.header span{
    color: #eb1c53;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 60%;
    
}

.nav-links{
    padding: 28px 0px 10px;
}

.nav-links li{
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;

}
.nav-links li a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: relative;
    text-shadow: 0px 0px 5px #000,0px 0px 15px #000;
    transition: 0.5s;
}
.nav-links li a:hover{
    opacity: 0.6; 
}

/* .nav-links li a::after{
    content: '';
    background: #762810;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
} */



.signup{
    background: #ff3d00;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-top: 50px;
}

.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif; 
    text-shadow: 0px 0px 5px #000,0px 0px 15px #000;
    color:whitesmoke;
    cursor: pointer;
    transition: transform .4s;
}

.content h1:hover{
    transform: scale(1.1);
}
/*
.content form{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
} */

.content form button{
    background: transparent;
    color: rgb(231, 221, 221);
    padding: 7px 30px;
    border: 2px solid #eadfe3;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #4f4c4c;
    transition: .5s;
}
.content form button:hover{
    transform: scale(0.9);
}

.video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.signup{
    background-color: #ce1751;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 35px;
    transition: transform .4s;
}

.header .content .logo1{
    position: relative;
    align-items: center;
    width: 35%;
    opacity: 0.7;
    transition: .4s;
    cursor: pointer;
}
.logo1:hover{
    transform: scale(1.1);
}
.content h2{
    font-size: 25px;
    text-shadow: 0px 0px 5px #000,0px 0px 15px #5e5353;
    cursor: pointer;
}
.content p{
    font-style: italic;
    color: #f0d5de;
}

/* NEw section */

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h5 span{
    color: #f9004d;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.image-About{
    height: auto;
    width: 430px;
}