.text-center{
    color: rgb(10, 12, 12);
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
}
.text-center2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.center{
    width: 100%;
    padding: 100px 0px;
}

.col-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    transition: .4s;
    cursor: pointer;
}
.col-sm:hover{
    transform: scale(1.1);
}
.bg-image{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.bg-image i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.bg-image .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.bg-image .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.col-sm-l{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
    margin-left: 100%;
    transition: .4s;
    cursor: pointer;
}
.col-sm-l:hover{
    transform: scale(1.1);
}