.newstaff {
    flex: 4 1;
  }
  .tabled {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
  }
  
  .thd, .tdd {
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  .trn{
    background-color: #dfdfdf;
  }
  .topic{
    margin-left: 20px;
  }
  .btn1{
    padding-top: 15px;
    padding-left: 385px;
  }
  .btn11{
    width: 4in;
  }
  .btn2{
    padding-top: 15px;
    padding-left: 385px;
  }
  .allbtn{
    margin-left: 1030px;
  }
  .paybtn{
    margin-left: 1030px;
    margin-top: 10px;
  }