.header-background{
    background-color:#F2F3F4;
    height: 128px;
}

.logo{
    width: 50px;
    height: 50px;
    position: absolute;
}

.lname{
    margin-left: 50px;
    margin-top: 2px;
    padding: 8px;
    color: #FFAF0F;
    font-family:sans-serif,roboto;
    font-size: 35px;
}

.logo-name{
    margin-left: 40px;
    padding-top: 28px;
    max-width: 360px;
    position: absolute;
}

.nav-bar{
    float:right;
    font-size: large;
    margin-top: 98px;
    margin-right: -70px;
}

.nav-item{
    padding-right: 20px;
    text-decoration: none;
    color: #000002;
    font-family: sans-serif,roboto;
    
}

.nav-item-active{
    padding-right: 20px;
    color:#00BFFF;
    text-decoration: none;
    font-family: sans-serif,roboto;
}

.userImg{
    width:50px;
    height:50px;
    border-radius:80px;
    margin-right:50px;
    margin-top: 20px;
    position: relative;
}

.username-img{
    float: right;
   
}

.user-name{
    float: left;
    margin-right: 20px;
    margin-top: 30px;
    font-family: sans-serif,roboto;
   
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-text{
      text-decoration: none;
      color: #4f5152;
      font-size: 15px;
      
  }