header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid rgb(3, 20, 13);
    background-color: rgb(29, 33, 39);
    transition: background .6s; 
}
header:hover{
    background: #373132;
}
header .logo{
    flex: 1;
    font-size:larger;
    font-style: italic;
    display: flex;
    padding: 10px 0px 10px 10px;
}

header #logo1{
   min-height: 70px;
   width: 200px;
   cursor: pointer;
   margin-right: 20px;
   transition: transform .4s;
}
#logo1:hover{
    transform: scale(1.08);
}
header .logo h1{
    color: white;
    font-size: 45px;
    padding-top: 5px; 
    cursor: pointer; 
}
header .logo h2{
    font-size: 23px;
    position: absolute;
    margin: 70px 0px 0px 230px;
    
}
header a{
    text-transform: capitalize;
    color: rgba(237, 230, 241, 0.8);
}
span{
    font-size:larger;
    color: #f9004d;
    font-weight: bold;
}

header ul li{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    transition: transform .4s;
}
header ul li:hover{
    transform: scale(1.1);
}
.menu{
    display: none;
}
.user-icon{
    position: relative;
    margin-right: 20px;
    color: crimson;
}
.user-icon span{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}