/* *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(253, 253, 253);
} 
h2{
    text-align: initial;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 30px 0;
    margin-left: 65px;
}

.card-6 .card-heading {
    background: transparent;
    float: left;
    margin-left: 70px;
  } */
.newUser {
    flex: 4;
  }

.button-view {
  background-color: #e8b510;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

 .title {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: rgb(49, 68, 162);
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 20px;
}
 .DdownBtn {
	background-color: #168eff;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    padding: 6px 100px 10px 20px;
  }
  
  .Ddown {
	position: relative;
    float: left;
    margin-left: 100px;
    padding-bottom: 20px;
  }
  
  .Ddown-content {
	display: none;
	position: absolute;
	background-color: #daf6ff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
    text-align: left;
    width: 265px;
  }
  
  .Ddown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
  }
  
  .Ddown-content a:hover {background-color: #f1f1f1}
  
  .Ddown:hover .Ddown-content {
	display: block;
  }
  
  .Ddown:hover .dropbtn {
	background-color: #B9B9B9;
  }

/* Table Styles */

.table-wrapper{
    margin: 10px 100px 70px 100px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}

.fl-table022 {
    border-radius: 5px;
    font-size: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #dff4ff;
}

.fl-table022 td, .fl-table022 th {
    text-align: center;
    padding: 8px;
    font-size: 19px;
}

.fl-table022 td {
    border-right: 1px solid #e3e3e3;
    font-size: 15px;
}

.fl-table022 thead th {
    color: #ffffff;
    background: #83c0ff;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #83c0ff;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.newUser {
  flex: 4;
}

 /* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 25px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 30px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
		font-size: 25px;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }

}



