
 .title {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 20px;
}
 .DdownBtn {
	background-color: #E5E5E5;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    padding: 4px 100px 4px 10px;
  }
  
  .Ddown {
	position: relative;
    float: left;
    margin-left: 100px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .Ddown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
    text-align: left;
    width: 265px;
  }
  
  .Ddown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
  }
  
  .Ddown-content a:hover {background-color: #f1f1f1}
  
  .Ddown:hover .Ddown-content {
	display: block;
  }
  
  .Ddown:hover .dropbtn {
	background-color: #B9B9B9;
  }

/* Table Styles */

.table-wrapper{
    margin: 10px 100px 70px 100px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}

.fl-table {
    border-radius: 5px;
    font-size: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    font-size: 15px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
}

.fl-table thead th {
    color: #000000;
    background: #B9B9B9;
}


.fl-table thead th:nth-child(odd) {
    color: #000000;
    background: #B9B9B9;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


 /* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 25px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 30px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
		font-size: 25px;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }

}

.DeleteIcon{
    color: #da0303;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: "20px";
}

.DeleteIcon:hover {
    color: #ff2c2c;
  }

.UpdateIcon{
    color: #0300b4;
    margin-right: "30px";
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.UpdateIcon:hover {
    color: #4b38f7;
  }


