@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Sinhala:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header-background1{
    background-color: rgb(29, 33, 39);
    height: 128px;
    border-bottom: 3px solid rgb(5, 6, 19);
    transition: background .6s;
}
.header-background1:hover{
    background: #373132;
}

 
.header-background1 .logo-name .logo{
    width: 90px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    transition: transform .4s;
}
.header-background1 .logo-name .logo:hover{
    transform: scale(1.08);
}
 
.header-background1 .logo-name .lname1{
    margin-left: 92px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-style: italic;
    cursor: pointer; 
    font-weight: bold;
    
}
.header-background1 .logo-name .lname1 span{
    font-size: 35px;
    font-family: 'Noto Sans Sinhala', sans-serif;
    color: #f9004d;
    font-style: italic;
    font-weight: bold;
}
 
.header-background1 .logo-name{
    margin-left: 40px;
    padding-top: 15px;
    max-width: 360px;
    position: absolute;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
 
.nav-barMain{
    float:right;
    font-size: 15px;
    margin-right: 10px;
    list-style: none;
    display: flex;
    margin-top: 80px;

}
 
.nav-item1{
    padding-right: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    height: 20px;
    line-height: 43px;
    margin: 3px;
    padding: 12px 22px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(237, 230, 241, 0.8);
    
    
    
}
.nav-item1:hover{
  color: white;
  cursor: pointer;
}
 
.nav-item1-active{
    padding-right: 20px;
    color:#00BFFF;
    text-decoration: none;
    font-family: sans-serif,roboto;
}
 
.userImg{
    width:50px;
    height:50px;
    border-radius:30px;
    margin-right:50px;
    margin-top: 20px;
    position: relative;
}
 
.username-img{
    float: right;
    align-items: center;
   
}
 
.username-img .user-name{
    float: left;
    margin-right: 20px;
    margin-top: 5px;

}
 
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
 
  .dropdown-text{
    text-decoration: none;
    color: #4f5152;
    font-size: 15px;
    
}

.dropdown-text:hover{
  color: #FFAF0F;
  box-shadow: 15px 20px 50px rgba(24, 139, 119, 0.2);
}